.pagination {
  height: 200px;
	margin: 15px auto;
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
	list-style: none;
	outline: none;
	& > .active {
		& > a {
			background-color: #a247de;
			border-color: #bb47de;
			color: #fff;
		}
	}
	& > li {
		& > a {
			border: 1px solid #c547de;
			padding: 5px 10px;
			outline: none;
			cursor: pointer;
		}
	}	
}
